<div class="wrapper fadeInDown">
    <div id="formContent">  
      <div class="card">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form>
              <input type="text" id="fullname" class="fadeIn first" name="fullname" placeholder="Enter your fullname">
              <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter your username">
              <input type="email" id="email" class="fadeIn third" name="email" placeholder="Enter your email">
              <input type="text" id="phone" class="fadeIn fourth" name="phone" placeholder="enter your phone number">
              <input type="text" id="password" class="fadeIn third" name="login" placeholder="enter your password">
              <input type="submit" class="fadeIn sixth" value="Register">
            </form>        </article>
        </div>
        <div id="formFooter">
          <p>Already have an account? <a class="underlineHover" href="#">Login here</a></p>
        </div>
    </div>
  </div>